<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <div>
      <ion-img width="200" height="200" src="assets/imgs/user.png"></ion-img>
    </div>

    <div class="container">
      <ion-list>

        <ion-item>
          <ion-label fixed style="color: #144F45">
            Nome: 
          </ion-label>
          <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.email" value={{user.Nome}} ></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed style="color: #144F45">
            Usuário:
          </ion-label>
          <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.username" id="nome"   value={{user.Login}}  ></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed style="color: #144F45">
            E-mail:
          </ion-label>
          <ion-input style="color:black"  [disabled]="true" type="text"  data-ng-model="user.email" value={{user.Email}} ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed style="color: #144F45">
            CNPJ:
          </ion-label>
          <ion-input style="color:black" type="text" [disabled]="true" data-ng-model="user.email" value={{user.CNPJ}} ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed style="color: #144F45">
              CEP:
            </ion-label>
            <ion-input  style="color:black"  type="text" [disabled]="true" data-ng-model="user.email" value={{user.Endereco.CEP}} ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed style="color: #144F45">
              Bairro:
            </ion-label>
            <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.email" value={{user.Endereco.Bairro}} ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label style="color: #144F45" >
              Complemento:
            </ion-label>
            <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.email" value={{user.Endereco.Complemento}} ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed style="color: #144F45">
              Número:
            </ion-label>
            <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.email" value={{user.Endereco.Numero}} ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed style="color: #144F45">
              Logradouro:
            </ion-label>
            <ion-input style="color:black" type="text" [disabled]="true" data-ng-model="user.email" value={{user.Endereco.Logradouro}} ></ion-input>
        </ion-item>




      
      </ion-list>
    </div>

    <div>
      <button ion-button color="verd" large round (click)="irParaEditarPerfil()">Editar perfil</button>
    </div>
  </div>

</ion-content>