page-editar-perfil-entregador {
    h1{
        text-align: center;
        color: #144f45;
    }
    .info{
        position:relative;
        top: 40px;
        
    }
    .profilePic{
        position:relative;
        top: 7px;
        
    }
    .saveButton{
        position:relative;
        top: 45px;
        
    }

}
