page-configuracao {
    .tela{
        height: 100%;
        
    }
    h1{
        text-align: center;
        color: #144f45;
    }
    .buttons{
        position:relative;
        top: 200px;
        
    }

}
