<ion-header>

  <ion-navbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <div>
      <ion-img width="200" height="200" src="assets/imgs/user.png"></ion-img>
    </div>
    
    <div>
      <button style="width:200px" ion-button color="verd" small round>Alterar imagem </button>
    </div>

    <div class="container">
      <ion-list>
      
        <ion-item>
          <ion-label fixed style="color: #144F45">
            Usuário:
          </ion-label>
          <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.username" id="nome"   value={{user.Login}}  ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed style="color: #144F45">
            CEP:
          </ion-label>
          <ion-input  style="color:black"  type="text"  data-ng-model="user.cep" [(ngModel)]="dados.cep"  placeholder={{user.Endereco.CEP}} ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label fixed style="color: #144F45">
            Bairro:
          </ion-label>
          <ion-input style="color:black"  type="text"  data-ng-model="user.bairro" [(ngModel)]="dados.bairro"  placeholder={{user.Endereco.Bairro}} ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label style="color: #144F45" >
            Complemento:
          </ion-label>
          <ion-input style="color:black"  type="text"  data-ng-model="user.complemento" [(ngModel)]="dados.complemento"  placeholder={{user.Endereco.Complemento}} id="complemento" ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label fixed style="color: #144F45">
            Número:
          </ion-label>
          <ion-input style="color:black"  type="text"  data-ng-model="user.numero" [(ngModel)]="dados.numero" placeholder={{user.Endereco.Numero}} ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label fixed style="color: #144F45">
            Logradouro:
          </ion-label>
          <ion-input style="color:black" type="text"  data-ng-model="user.logradouro" [(ngModel)]="dados.logradouro"  placeholder={{user.Endereco.Logradouro}} ></ion-input>
      </ion-item>
          
        <ion-item>
          <ion-label style="color: #144F45">Novo e-mail:</ion-label>
          <ion-input type="email"  [(ngModel)]="dados.email"  class="inputEmail" placeholder={{user.Email}} ></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label style="color: #144F45">Confirmar e-mail:</ion-label>
          <ion-input type="email"  [(ngModel)]="dados.emailConf" class="inputEmail"  ></ion-input>
        </ion-item>

      
      </ion-list>
    </div>
    
    <div>
      <button ion-button style="width:170px" color="verd" round (click)="Atualizar()">confirmar</button>
    </div>
    
    <div>
      <button ion-button style="width:170px" color="verd" round (click)="abrirPerfil()">cancelar </button>
    </div>
  </div>
</ion-content>