<!--
  Generated template for the PerfilEntregadorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <h1>Perfil</h1>
</ion-header>


<ion-content padding class="tela">
  <!--RESOLVER MAIS TARDE -->
  <div text-center class="perfil">
      <ion-img width="100" height="100" src="assets/icon/user.png"></ion-img>
  </div>
  <div class="infoPrincipais">
    <ion-card color="verd">
      <ion-card-header>Informações Principais</ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label fixed style="color: #144F45">Nome:</ion-label>
          <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.name_deliveryman" value={{user.name_deliveryman}} ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed style="color: #144F45">Empresa:</ion-label>
          <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.nome" value={{user.name}} ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed style="color: #144F45">Usuário:</ion-label>
          <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.username" id="nome"   value={{user.login}}  ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="infoAdicionais">
    <ion-card color="verd">
      <ion-card-header>Informações Adicionais</ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label fixed style="color: #144F45">E-mail:</ion-label>
          <ion-input style="color:black"  [disabled]="true" type="text"  data-ng-model="user.email" value={{user.email}} ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed style="color: #144F45">CNPJ:</ion-label>
          <ion-input style="color:black" type="text" [disabled]="true" data-ng-model="user.cnpj" value={{user.uci}} ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed style="color: #144F45">CEP:</ion-label>
            <ion-input  style="color:black"  type="text" [disabled]="true" data-ng-model="user.cep" value={{user.addresses[0].postal_code}} ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed style="color: #144F45">Bairro:</ion-label>
            <ion-input style="color:black"  type="text" [disabled]="true" data-ng-model="user.bairro" value={{user.addresses[0].district}} ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
